@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family: "Roboto", sans-serif;
}

.navbar{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    height:100px;
    background-color: white;
    position: fixed;
    width: 100%;
}

.logo{
    flex: 20%;
    margin-left: 10%;
    text-align: left;
}


.menu{
    flex: 70%;  
    text-align: right;
    padding: 20px;
}

.logo h1{
    font-family: "Lobster", sans-serif;
    color: #180f4a;
    font-size: 34px;
}

.menu a{
    color: #180f4a;
    text-decoration: none;
    font-size: 20px;
    padding: 20px 16px;
}

.menu a:hover{
    color:#FF2978;
    border-top: 4px solid #FF2978;
}

#botao{
    background-color: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;
    margin-left: 5%;
}

#botao:hover{
    border: none;
    background-color: #FF2978;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding-top: 100px;
}

.headline{
    margin-left: 10%;
    flex: 40%;
    /* border: 1px solid black; */
}

.headline h2{
    font-weight: 900;
    font-size: 20px;
    color: #180f4a;
    padding: 0;
    margin: 0;
}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    text-align: center;
    /* border: 1px solid black; */
}

.headline p{
    color: gray;
    text-align: left;
}

.contact-btn{
    background-color: #FF2978;
    padding: 20px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
}

.contact-btn:hover{
    background-color:#180f4a;
}

section{
    display: inline-block;
    margin-top: 80px;
    /* border: 1px solid black; */
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
    text-align: center;
    /* width: 90%; */
}

section h2{
    width: 100%;
    font-size: 50px;
    margin: 0;
    font-family: "Lobster", sans-serif;
    font-weight: bold;
    color: #180f4a;
}

.servicos{
    display: inline-block;
    margin-top: 5%;
}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
    margin: 1%;
    border: 1px solid #FF2978; 
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
    background-color: #FF2978;
    color: white;
    padding: 40px;
}

.card:hover img{
    display: none;
}

.card:hover .card-text{
    display: none;
}

.texto-oculto{
    display: none;
}

.card:hover .texto-oculto{
    display: block;
}

footer{
    margin-top: 100px;
    height: 400px;
    background-image: linear-gradient(180deg, #180F4A, #090422, black) ;
    text-align: center;
    border-top: 5px solid #FF2978;
}

.logo-rodape{
    padding: 100px;
}

.agencia{
    font-family: "Lobster", sans-serif;
    color: white;
}